body {
  background-color: black;
}

.well {
  background-color: #c3c3c3;
  color: black;
}

h2 {
  color: #ffffff;
  text-transform: none;
  font-size: 2.5rem;
}

label {
  font-size: 0.9rem;
}

/* change a bunch of button behaviors */
.btn {
  font-size: 1rem;
  border: 2px solid black;
  text-transform: none;
  font-weight: bold;
}

.btn-secondary, .btn-default:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark) {
  border: 2px solid black;
}

.button:hover {
    cursor: pointer;
}

/* return to original state after click */
.btn-check:focus+.btn-secondary, .btn-check:focus+.btn-default:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark), .btn-secondary:focus, .btn-default:focus:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark) {
  border-color: black;
}

/* keep the hover effect even when in already clicked */
.btn-check:focus:hover+.btn-secondary, .btn-check:focus:hover+.btn-default:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark), .btn-secondary:focus, .btn-default:focus:hover:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark) {
  border-color: white;
}

#see_code {
  background-color: #64000a;
  border: 2px solid white;
  color: white;
  margin-right: 5%;
}

/* create a speech bubble around the generated text (and style the font) */
#dad_text {
  background-color: white;
  color: black;
  text-align: center;
  position: absolute;
	border-radius: .4em;
	padding: 10px 10px;
}

#dad_text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border: 10px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -15px;
	margin-left: -10px;
	font-size: 1.2rem;
}

/* style labels on inputs */
.header {
  background-color: black;
  color: white;
  padding: 1px 5px;
  font-weight: bold;
}

/* move the welcome modal down */
.modal-content {
  margin-top: 35%;
}
