/* change color palette slightly */
body {
  background-color: black;
}

.well {
  background-color: #c3c3c3;
  color: black;
}

h2 {
  color: #ffffff;
  text-transform: none;
  font-size: 2.25rem;
}

/* adjust labels on the inputs: bold + remove space underneath */
.control-label {
  font-weight: bold;
}

label {
  font-size: 0.75rem;
}

/* re-define some of the button behavior */
.button:hover {
    cursor: pointer;
}

/* return to original state after click */
.btn-default:focus {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 0;
}

/* keep the hover effect even when in already clicked */
.btn-default:focus:hover {
  background-color: #ececec;
  outline-color: #ececec;
}

.btn {
  text-transform: none;
  font-weight: bold;
}


#dad_text {
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
	border-radius: .4em;
	padding: 10px 10px;
}

#dad_text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border: 10px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -15px;
	margin-left: -10px;
}
